* {
    font-family: "Titillium Web", Arial, sans-serif;
}
html,body{
    height: 100%;
}
.wrapper {
    min-height: 100%;  
    margin-bottom: -43px;
    background-color: #3B3B3B;
}
#header{
    background-color: #2D2D2D;
    /* padding: 0 20px; */
    height: 43px;
    line-height: 43px;
}
#footer {
    /* height: 43px; */
    background-color: #2D2D2D;
}

:root {
    --darker-grey-bg: #2D2D2D;
    --lighter-grey-bg: #3B3B3B;
    --gold-text: #E8BA3F;
    --grey-text: #ADADAD;
}

a, a:active {
    color: #3CA2A2;
    text-decoration: none;
}

a:hover {
    color: #215A6D;
    text-decoration: none;
}

body {
    background-color: #2D2D2D;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 900px;
}

code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 14px;
    padding: 0px 2px;
    vertical-align: middle;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

li {
    margin-bottom: 6px;
}


#content a i{
    vertical-align: middle;
    font-size: 30px;
}

div#logo a {
    color: #E8BA3F;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    color: #969696;
    font-size: 12px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

div.info {
    color: #969696;
    font-size: 14px;
    font-style: italic;
}

div#content {
    background-color: #3B3B3B;
    padding-top: 10px;
    padding-bottom: 43px;
    padding-left: 30px;
    padding-right: 30px;
}

input[type="button"] {
    background-color: #375A7F;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

input[type="button"]:hover {
    background-color: #2B4764;
}

input[type="button"]:not(:disabled) {
    cursor: pointer;
}

.fab, .fas {
    font-size: 2em;
}

#distribution {
    line-height: 1.8;
    color: var(--grey-text);
}
pre{
    line-height: 1.6;
    background-color: #212121;
    padding: 5px 10px;
}

h1, h2, h3, p, li, pre, table{
    color: var(--grey-text);
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}
.touch-menu {
    display: none;
}
@media screen and  (min-device-width: 320px) and (max-device-width: 480px) {
    body{
        width: 100%;
    }
    p,pre{
        word-break: break-all;
    }
    #logo{
        padding-left: 10px;
    }
    div#footer{
        padding-right: 10px;
    }
    div#header #navigation {
        position: absolute;
        top: 43px;
        right: 0;
        background-color: #2D2D2D;
        text-align: left;
        padding-right: 10px;
        display: none;
    }
    div#header #navigation a{
        display: block;
        font-size: 14px;
    }
    .touch-menu {
        display: block;
    }
    .touch-menu button{
        position: absolute;
        right: 3px;
        top: 5px;
        background: transparent;
        border: none;
    }
    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}